
table  {

  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
    background-color:lightgrey;
}
table td:first-child, table th:first-child {
    width:calc(3%);
   
  }
  table td:nth-child(2), table th:nth-child(2) {
    width:calc(40%);
   
  }
  table td:nth-child(3), table th:nth-child(3) {
    width:calc(40%);
  }
  table td:nth-child(4), table th:nth-child(4) {
    width:calc(40%);
  }
  table th:nth-child(3){
    padding: 0 3rem 0 4rem;
  }
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color:#e2e2e2;
  }
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #382f6b;
    color: white;
  }
  section{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }

  .navContainer{
      display:flex;
      width: max-content;
      margin: 0 auto;
      
      height:calc(7%);
      background-color:#DDDDDD;
     
      
      
  }
  .navButton {
    
    background: linear-gradient(322deg, rgba(251,207,246,1) 13%, rgba(184,218,222,1) 23%, rgba(132,138,29,0.8575805322128851) 44%, rgba(36,0,0,0.9360119047619048) 59%, rgba(0,159,255,0.8799894957983193) 76%);
    margin:auto;   
      border-radius: 4px;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
      
      margin-bottom: 20px;
      font-size: 20px;
      color: white;
      cursor: pointer;
      
      transition: background-position .7s,box-shadow .4s;
      background-size: 110%;
      font-family: 'Oswald', sans-serif;
  }
  .navButton:hover{
    background-position: 70% 80%;
    color: white;
    box-shadow: 0 0 30px 0;
  }
  .navButton>a{
    padding: auto;
    text-decoration:none;
    font-size: 2rem;
    color:gold;
    width: 100px;
    
    
    
    }
 
